.request{
    margin-top: 10rem;
    display: grid;
    grid-template-columns: 500px 1fr;
    grid-gap: 20px;

    &__img{
        &--img{
            border-radius: 6px;
        }
    }

    &__content{
        margin-bottom: 10rem;
        max-width: 800px;
        padding-left: 3rem;

        &__text{
            background: #F8F8F8;
            padding: 2rem;
            border-radius: 6px;
            line-height: 2.7;
            margin-bottom: 2rem;

            span{
                border-bottom: 1px solid #dbd9d9;
                padding-bottom: .8rem;
            }
        }

        h1{
            font-weight: 700;
            font-size: 2.5rem;
            padding-bottom: 1rem;
            line-height: 1.4;
        }

        p{
            color: #627081;
            line-height: 2;
        }
    }
}