.header{
    h1{
        font-weight: 900;
        text-transform: capitalize;
    }

    p{
        padding-top: .5rem;
        border-bottom: 1px solid #ebebeb;
        padding-bottom: .5rem;
        opacity: .8;
        font-weight: 500;
        font-size: .93rem;
    }
}