.card{
    // background: red;
    min-width: 250px;
    &__header{
        padding-bottom: 1.5rem;
        // &--img{
        //     max-width: 300px;
        //     background: red;
        //     border-radius: 6px !important;
        // }
    }

    &__content{
        p{
            padding-bottom: 3rem;
            padding-top: .5rem;
            font-size: .87rem;
            font-weight: 500;
            line-height: 1.8;
            opacity: .8;
        }
    }
    
}